[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
pylint = "*"
jedi = "*"

[packages]
inputs = "*"
opencv-python = "*"
pywin32 = "*"
mss = "*"
pillow = "*"
tensorflow-gpu = "*"

[requires]
python_version = "3.6"
