[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
pylint = "*"
jedi = "*"

[packages]
inputs = "*"
pywin32 = "*"
mss = "*"
tensorflow-gpu = "*"
pyvjoy = "*"
apache-beam = "*"
pillow-simd = {editable = true,path = "D:/Projects/pillow-simd"}
pyyaml = "*"

[requires]
python_version = "3.6"
